---
import Layout from "../layouts/Layout.astro";

---

<Layout title="About Page">


<h1>About Page</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto a asperiores quos unde in tenetur dolorem sed minima consequatur! Delectus cumque totam nemo!</p>

</Layout>